.addButtonConteiner {
    position: absolute;
    top: 0; 
    right: 0;
    display: flex;
    justify-content:end;
    align-items:end;
}

.addButton {
    width: 6rem;
    height: 4rem;
    margin-top: 2rem;
    margin-right: 2rem;
}
