header {
   margin-left: 2rem;
   margin-top: 2rem;
    display: flex;
    flex-direction: column;
    background-color: var(--light-pink);
    width: 25rem;
    height: 75rem;
    border-radius: 25px;            
}

.logo {
    width: 15rem;
    margin-left: 1.5rem;
    margin-top: 1.5rem;
}
    
ul {
    justify-content: center;
}
li {
font-size: 3rem;
color:var(--dark-pink);
padding-top: 20rem;
text-align: center;
}