.cardLastSeen {
  width: 35rem;
  height: 20rem;
  background-color: var(--green);
  display: flex;
  gap: rem;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
  margin-bottom: 3rem;
}

.imgLastSeen {
  width: 20rem;
  background-color: white;
  height: 15rem;
  border-radius: 10px;
}
