.card {
width: 20rem;
height: 20rem;
background-color: var(--dark-green);
border-radius: 30px;
padding-top: 3rem;


}
.titulo {
    background-color:#9CF6F6 ;
    height: 3rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2 {
    font-size: 1.5rem;
}
.photo {
    margin: auto;
    margin-top: 3rem;
    width: 15rem;
    height: 8rem;
    background-color: aqua;
}
.recipePhoto {
    width: 15rem;
    height: 8rem;
}

    
